body {
  background: #eee;
  font-family: 16px sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title, .content,
.button-container, button {
  display: block;
  margin: 5px;
  padding: 10px;
  /* box-sizing: border-box; */
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  /* width: auto; */
}

button {
  background: white;
  border: 1px solid #eee;
  margin-left: 120px;
}